<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-AWAC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC-USBX.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EHCx_OFF.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-RTC0.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-SBUS-MCHC.aml</string>
			</dict>
		</array>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AtherosE2200Ethernet.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AppleIntelInfo.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>RealtekRTL8111.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>RTCMemoryFixup.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>NoVPAJpeg.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooSDHC.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>TSCAdjustReset.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>LiluFriend.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>IntelMausiEthernet.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>BT4LEContinuityFixup.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>CPUFriend.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>RealtekRTL8100.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string> SMCLightSensor.kext </string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>HWPEnabler.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>HibernationFixup.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCSuperIO.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooTSCSync.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SerialMouse.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooInput.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>USBMap.kext</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>IntelMausi.kext</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>USBMap.kext</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Tools</key>
		<array>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>VerifyMsrE2.efi</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>Shell.efi</string>
			</dict>
		</array>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>Drivers</key>
		<array>
			<string>DataHubTest.efi</string>
			<string>SmbiosTest.efi</string>
			<string>BlessTest.efi</string>
			<string>PropertyTestApp.efi</string>
			<string>PropertyTest.efi</string>
			<string>DataHubTestApp.efi</string>
			<string>ExternalUi.efi</string>
			<string>CryptoTestApp.efi</string>
			<string>KernelTest.efi</string>
			<string>AcpiTestApp.efi</string>
			<string>CryptoTest.efi</string>
			<string>SmbiosTestApp.efi</string>
			<string>BlessTestApp.efi</string>
			<string>AppleImageLoader.efi</string>
			<string>KernelTestApp.efi</string>
			<string>AcpiTest.efi</string>
			<string>GdbSyms.efi</string>
			<string>ApfsDriverLoader.efi</string>
			<string>FwRuntimeServices.efi</string>
			<string>VBoxHfs.efi</string>
			<string>AppleUsbKbDxe.efi</string>
		</array>
	</dict>
</dict>
</plist>
